<div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control search-input" 
          placeholder="请输入商品名称"
          [formControl]="titleFilter"
          >
      </div>
    </div>
  </div>
  <div *ngFor="let item of products | filter: 'title': keyword" class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/320x150" alt="">
      <div class="caption">
        <h4 class="pull-right">{{ item.price }}元</h4>
        <h4>
          <a [routerLink]="['/detail', item.id]">{{ item.title }}</a>
        </h4>
        <p>{{ item.desc }}</p>
      </div>
      <div>
        <app-stars [rating]="item.rating" (lastPrice)="_emitPrice($event)"
          (buy)="_emitBuy($event)"
        ></app-stars>
      </div>
    </div>
  </div>
</div>